$deep-grey: #282c34;
$white-text: rgba(255,255,255, .89);
$pink: #DB4080;
$dark-grey: #2E2E2E ;
$light-grey: #BCBCBC ;
$font-header: 'Dosis';
$font-other: 'Catamaran' ;


body {
  background-color: $deep-grey;

  color: $white-text;
}
